body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  text-align: center;
}

.score-ctnr {
  width: 160px;
  height: 130px;
  background-color: #080001;
  margin-bottom: 15px;
  color: #F94F6D;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
}

.score {
  font-size: 95px;
  border: 1px solid white;
}

.bt-score {
  width: 50px;
  font-weight: 700;
  height: 50px;
  border: 1px solid #9AABD8;
  font-size: 18px;
  border-radius: 5px;
}